Load the Libraries

In [1]:
import pandas as pd
import numpy as np

load the dataset

In [2]:
r_cols=['user_id','movie_id','rating','unix_timestamp']
ratings=pd.read_csv('ml-100k/u.data',sep='\t',names=r_cols,encoding='latin-1')

In [3]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [4]:
n_users=ratings.user_id.unique().shape[0]
n_items=ratings.movie_id.unique().shape[0]

In [5]:
print("The number of users:",n_users)
print("The number of movie list:",n_items)

The number of users: 943
The number of movie list: 1682

Create pivot table for user and movie based on ratings

In [6]:
datama=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [7]:
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Replace nan with 0

data_matrix=datama.replace(np.nan,0)

In [9]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#Find cosine similarity for user and item

In [10]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity=pairwise_distances(data_matrix,metric='cosine')
item_similarity=pairwise_distances(data_matrix.T, metric='cosine')

In [11]:
user_similarity

array([[2.44249065e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 3.33066907e-16, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        0.00000000e+00, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 1.11022302e-16, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

Using formula for user and item we are calculating the score value

In [12]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [13]:
# prediction Table
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

ValueError: Multi-dimensional indexing (e.g. `obj[:, None]`) is no longer supported. Convert to a numpy array before indexing instead.

#As per the user based filtering, first we have to find the similarity between input user and others

In [14]:
#1. Select input user
input_user=37

In [15]:
#2. Create user_similarity table

user_sim_table = pd.DataFrame(user_similarity)

In [16]:
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.442491e-15,8.330690e-01,0.952540,0.935642,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,6.859280e-01,0.851383,8.204921e-01,0.601825
1,8.330690e-01,3.330669e-16,0.889409,0.821879,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,7.732100e-01,0.838515,8.277322e-01,0.894202
2,9.525405e-01,8.894087e-01,0.000000,0.655849,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,8.381099e-01,0.898757,8.665839e-01,0.973444
3,9.356422e-01,8.218788e-01,0.655849,0.000000,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,8.031418e-01,0.847959,8.299139e-01,0.941248
4,6.215248e-01,9.270210e-01,0.978755,0.968196,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,7.600453e-01,0.860405,8.475026e-01,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,7.714166e-01,0.973729,0.969862,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,9.123129e-01,0.819971,9.567357e-01,0.855750
939,6.859280e-01,7.732100e-01,0.838110,0.803142,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,3.330669e-16,0.854848,7.386238e-01,0.758972
940,8.513831e-01,8.385152e-01,0.898757,0.847959,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,8.548477e-01,0.000000,8.983582e-01,0.904880
941,8.204921e-01,8.277322e-01,0.866584,0.829914,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,7.386238e-01,0.898358,1.110223e-16,0.817535
942,6.018253e-01,8.942021e-01,0.973444,0.941248,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,7.589723e-01,0.904880,8.175353e-01,0.000000

In [18]:
#3. Find similarity user for 37 using cosine table

similar_input_user = user_sim_table[input_user].sort_values(ascending=True).head(5).index

In [19]:
similar_input_user

Index([37, 641, 619, 896, 221], dtype='int64')

In [20]:
#4. convert similar_input_user into list

similar_user_list = list(similar_input_user)

In [21]:
#5. Using similar_user_list, we can select the movie id from ratings table

similar_user_movieid_list=[]
for sim_user in similar_user_list:
    sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
    similar_user_movieid_list.append(sim)

In [22]:
len(similar_user_movieid_list)

5

In [23]:
similar_user_movieid_list

[[288,
  540,
  403,
  117,
  55,
  183,
  685,
  56,
  222,
  79,
  24,
  161,
  22,
  597,
  363,
  195,
  11,
  176,
  948,
  265,
  68,
  89,
  550,
  27,
  127,
  92,
  665,
  82,
  273,
  174,
  825,
  566,
  147,
  118,
  231,
  546,
  50,
  841,
  96,
  385,
  405,
  172,
  827,
  930,
  1027,
  833,
  230,
  210,
  7,
  578,
  831,
  233,
  472,
  226,
  568,
  62,
  121],
 [59,
  514,
  83,
  124,
  192,
  303,
  484,
  434,
  865,
  268,
  496,
  89,
  427,
  285,
  242,
  305,
  50,
  209,
  1194,
  338,
  1039,
  511,
  513,
  64,
  30,
  134,
  969,
  23,
  657,
  270,
  336,
  558,
  203,
  198,
  483,
  301,
  432,
  258,
  528,
  497],
 [245,
  117,
  39,
  809,
  403,
  328,
  62,
  241,
  332,
  226,
  1314,
  288,
  651,
  825,
  313,
  720,
  515,
  350,
  405,
  50,
  1016,
  258,
  300,
  331,
  118,
  257,
  55,
  568,
  252,
  307,
  1231,
  879,
  127,
  281,
  188,
  273,
  302,
  174,
  183,
  22,
  82,
  385,
  346,
  665,
  144,
  294,
  187,
  29,
  550,
  576,
  17,
  53,
  295,
  363,
  323,
  566,
  808,
  827,
  181,
  685,
  195,
  750,
  554,
  176,
  562,
  96,
  326,
  27,
  298,
  233,
  121,
  391,
  406,
  161,
  33,
  333,
  231,
  597,
  11,
  849,
  293,
  546,
  68,
  327,
  56,
  684,
  182,
  79,
  578],
 [1101,
  403,
  108,
  281,
  67,
  310,
  525,
  212,
  136,
  752,
  686,
  849,
  744,
  458,
  48,
  684,
  713,
  318,
  384,
  325,
  789,
  159,
  186,
  82,
  144,
  385,
  133,
  398,
  222,
  273,
  98,
  672,
  526,
  356,
  768,
  123,
  191,
  597,
  546,
  562,
  685,
  452,
  141,
  227,
  200,
  1672,
  367,
  549,
  76,
  414,
  423,
  436,
  132,
  215,
  462,
  25,
  481,
  1018,
  20,
  1221,
  358,
  175,
  603,
  515,
  152,
  872,
  174,
  182,
  217,
  880,
  97,
  798,
  228,
  765,
  161,
  431,
  1284,
  216,
  1,
  479,
  134,
  504,
  708,
  187,
  12,
  1406,
  233,
  232,
  429,
  196,
  942,
  299,
  135,
  739,
  168,
  572,
  15,
  70,
  95,
  238,
  271,
  343,
  631,
  201,
  118,
  89,
  472,
  46,
  474,
  1078,
  275,
  302,
  1217,
  86,
  732,
  721,
  230,
  226,
  542,
  497,
  411,
  993,
  640,
  1134,
  87,
  291,
  1423,
  824,
  157,
  576,
  198,
  518,
  55,
  64,
  1074,
  596,
  674,
  471,
  39,
  568,
  209,
  696,
  22,
  569,
  770,
  405,
  27,
  50,
  1248,
  1522,
  31,
  840,
  8,
  223,
  1183,
  327,
  508,
  121,
  1437,
  808,
  476,
  88,
  636,
  887,
  575,
  895,
  73,
  430,
  1471,
  484,
  836,
  658,
  83,
  719,
  190,
  1004,
  28,
  1194,
  1042,
  1214,
  202,
  820,
  1240,
  143,
  53,
  760,
  317,
  425,
  371,
  426,
  554,
  154,
  237,
  139,
  204,
  591,
  203,
  23,
  582,
  1231,
  85,
  468,
  234,
  746,
  11,
  709,
  160,
  250,
  1220,
  651,
  705,
  54,
  1351,
  742,
  181,
  127,
  4,
  578,
  455,
  148,
  9,
  527,
  265,
  379,
  188,
  800,
  33,
  284,
  1267,
  587,
  173,
  557,
  145,
  320,
  810,
  206,
  231,
  92,
  282,
  180,
  7,
  80,
  172,
  616,
  801,
  117,
  632,
  195,
  662,
  496,
  393,
  153,
  450,
  493,
  720,
  77,
  101,
  328,
  928,
  482,
  679,
  147,
  1098,
  735,
  1249,
  62,
  422,
  380,
  655,
  24,
  420,
  183,
  68,
  402,
  274,
  128,
  51,
  1045,
  179,
  29,
  637,
  952,
  129,
  164,
  43,
  654,
  1028,
  473,
  710,
  1681,
  966,
  461,
  774,
  307,
  1112,
  1119,
  559,
  660,
  219,
  1011,
  58,
  763,
  1208,
  809,
  665,
  715,
  470,
  399,
  241,
  260,
  489,
  2,
  480,
  387,
  313,
  1622,
  845,
  42,
  642,
  386,
  392,
  184,
  124,
  435,
  258,
  257,
  19,
  100,
  211,
  288,
  199,
  79,
  91,
  69,
  661,
  300,
  245,
  483,
  802,
  248,
  478,
  427,
  550,
  1222,
  730,
  588,
  239,
  570,
  566,
  1046,
  71,
  210,
  229,
  235,
  225,
  1303,
  692,
  647,
  751,
  176,
  96,
  511],
 [475,
  943,
  1010,
  48,
  327,
  1059,
  780,
  69,
  1250,
  204,
  508,
  268,
  468,
  172,
  250,
  318,
  1218,
  1314,
  1067,
  1407,
  895,
  684,
  17,
  1073,
  100,
  32,
  467,
  39,
  92,
  1035,
  1210,
  257,
  588,
  789,
  129,
  721,
  53,
  623,
  128,
  272,
  118,
  231,
  1012,
  265,
  70,
  496,
  161,
  940,
  154,
  1134,
  685,
  173,
  824,
  4,
  24,
  476,
  3,
  258,
  461,
  403,
  76,
  109,
  33,
  568,
  64,
  385,
  470,
  23,
  335,
  1090,
  218,
  386,
  298,
  7,
  358,
  156,
  407,
  50,
  240,
  402,
  732,
  79,
  59,
  222,
  108,
  29,
  230,
  544,
  763,
  273,
  96,
  566,
  695,
  282,
  469,
  186,
  1185,
  1017,
  178,
  181,
  346,
  215,
  286,
  1217,
  27,
  576,
  1267,
  384,
  762,
  391,
  42,
  151,
  174,
  94,
  227,
  809,
  184,
  210,
  405,
  485,
  1011,
  259,
  55,
  121,
  1437,
  651,
  1098,
  578,
  150,
  246,
  12,
  847,
  56,
  751,
  399,
  550,
  737,
  117,
  423,
  288,
  1016,
  1208,
  38,
  633,
  931,
  144]]

In [25]:
#6. Convert all the list as single using itertools

import itertools
similar_user_movieid_singlelist = list(itertools.chain.from_iterable(similar_user_movieid_list))

In [26]:
len(similar_user_movieid_singlelist)

694

In [27]:
#7.Unique movieid from the list

unique_movieid_similar_user = set(similar_user_movieid_singlelist)

In [28]:
len(unique_movieid_similar_user)

459

In [29]:
#8. Input user watched movie list

input_user_watched_movieid = list(ratings[ratings['user_id']==input_user]['movie_id'].values)

In [30]:
input_user_watched_movieid

[288,
 540,
 403,
 117,
 55,
 183,
 685,
 56,
 222,
 79,
 24,
 161,
 22,
 597,
 363,
 195,
 11,
 176,
 948,
 265,
 68,
 89,
 550,
 27,
 127,
 92,
 665,
 82,
 273,
 174,
 825,
 566,
 147,
 118,
 231,
 546,
 50,
 841,
 96,
 385,
 405,
 172,
 827,
 930,
 1027,
 833,
 230,
 210,
 7,
 578,
 831,
 233,
 472,
 226,
 568,
 62,
 121]

In [31]:
# Create a list which should have recommended movie id to the input user

recom=[]
for per_id in unique_movieid_similar_user:
    if(per_id in input_user_watched_movieid):
        pass
    else:
        recom.append(per_id)

In [32]:
len(recom)

402

In [33]:
sorted(recom)

[1,
 2,
 3,
 4,
 8,
 9,
 12,
 15,
 17,
 19,
 20,
 23,
 25,
 28,
 29,
 30,
 31,
 32,
 33,
 38,
 39,
 42,
 43,
 46,
 48,
 51,
 53,
 54,
 58,
 59,
 64,
 67,
 69,
 70,
 71,
 73,
 76,
 77,
 80,
 83,
 85,
 86,
 87,
 88,
 91,
 94,
 95,
 97,
 98,
 100,
 101,
 108,
 109,
 123,
 124,
 128,
 129,
 132,
 133,
 134,
 135,
 136,
 139,
 141,
 143,
 144,
 145,
 148,
 150,
 151,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 164,
 168,
 173,
 175,
 178,
 179,
 180,
 181,
 182,
 184,
 186,
 187,
 188,
 190,
 191,
 192,
 196,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 206,
 209,
 211,
 212,
 215,
 216,
 217,
 218,
 219,
 223,
 225,
 227,
 228,
 229,
 232,
 234,
 235,
 237,
 238,
 239,
 240,
 241,
 242,
 245,
 246,
 248,
 250,
 252,
 257,
 258,
 259,
 260,
 268,
 270,
 271,
 272,
 274,
 275,
 281,
 282,
 284,
 285,
 286,
 291,
 293,
 294,
 295,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 307,
 310,
 313,
 317,
 318,
 320,
 323,
 325,
 326,
 327,
 328,
 331,
 332,
 333,
 335,
 336,
 338,
 343,
 346,
 350,
 356,
 358,
 367,
 371,
 379,
 380,
 384,
 386,
 387,
 391,
 392,
 393,
 398,
 399,
 402,
 406,
 407,
 411,
 414,
 420,
 422,
 423,
 425,
 426,
 427,
 429,
 430,
 431,
 432,
 434,
 435,
 436,
 450,
 452,
 455,
 458,
 461,
 462,
 467,
 468,
 469,
 470,
 471,
 473,
 474,
 475,
 476,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 489,
 493,
 496,
 497,
 504,
 508,
 511,
 513,
 514,
 515,
 518,
 525,
 526,
 527,
 528,
 542,
 544,
 549,
 554,
 557,
 558,
 559,
 562,
 569,
 570,
 572,
 575,
 576,
 582,
 587,
 588,
 591,
 596,
 603,
 616,
 623,
 631,
 632,
 633,
 636,
 637,
 640,
 642,
 647,
 651,
 654,
 655,
 657,
 658,
 660,
 661,
 662,
 672,
 674,
 679,
 684,
 686,
 692,
 695,
 696,
 705,
 708,
 709,
 710,
 713,
 715,
 719,
 720,
 721,
 730,
 732,
 735,
 737,
 739,
 742,
 744,
 746,
 750,
 751,
 752,
 760,
 762,
 763,
 765,
 768,
 770,
 774,
 780,
 789,
 798,
 800,
 801,
 802,
 808,
 809,
 810,
 820,
 824,
 836,
 840,
 845,
 847,
 849,
 865,
 872,
 879,
 880,
 887,
 895,
 928,
 931,
 940,
 942,
 943,
 952,
 966,
 969,
 993,
 1004,
 1010,
 1011,
 1012,
 1016,
 1017,
 1018,
 1028,
 1035,
 1039,
 1042,
 1045,
 1046,
 1059,
 1067,
 1073,
 1074,
 1078,
 1090,
 1098,
 1101,
 1112,
 1119,
 1134,
 1183,
 1185,
 1194,
 1208,
 1210,
 1214,
 1217,
 1218,
 1220,
 1221,
 1222,
 1231,
 1240,
 1248,
 1249,
 1250,
 1267,
 1284,
 1303,
 1314,
 1351,
 1406,
 1407,
 1423,
 1437,
 1471,
 1522,
 1622,
 1672,
 1681]

In [34]:
#cross checking

sorted(unique_movieid_similar_user)

[1,
 2,
 3,
 4,
 7,
 8,
 9,
 11,
 12,
 15,
 17,
 19,
 20,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 38,
 39,
 42,
 43,
 46,
 48,
 50,
 51,
 53,
 54,
 55,
 56,
 58,
 59,
 62,
 64,
 67,
 68,
 69,
 70,
 71,
 73,
 76,
 77,
 79,
 80,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 108,
 109,
 117,
 118,
 121,
 123,
 124,
 127,
 128,
 129,
 132,
 133,
 134,
 135,
 136,
 139,
 141,
 143,
 144,
 145,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 161,
 164,
 168,
 172,
 173,
 174,
 175,
 176,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 186,
 187,
 188,
 190,
 191,
 192,
 195,
 196,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 206,
 209,
 210,
 211,
 212,
 215,
 216,
 217,
 218,
 219,
 222,
 223,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 237,
 238,
 239,
 240,
 241,
 242,
 245,
 246,
 248,
 250,
 252,
 257,
 258,
 259,
 260,
 265,
 268,
 270,
 271,
 272,
 273,
 274,
 275,
 281,
 282,
 284,
 285,
 286,
 288,
 291,
 293,
 294,
 295,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 307,
 310,
 313,
 317,
 318,
 320,
 323,
 325,
 326,
 327,
 328,
 331,
 332,
 333,
 335,
 336,
 338,
 343,
 346,
 350,
 356,
 358,
 363,
 367,
 371,
 379,
 380,
 384,
 385,
 386,
 387,
 391,
 392,
 393,
 398,
 399,
 402,
 403,
 405,
 406,
 407,
 411,
 414,
 420,
 422,
 423,
 425,
 426,
 427,
 429,
 430,
 431,
 432,
 434,
 435,
 436,
 450,
 452,
 455,
 458,
 461,
 462,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 489,
 493,
 496,
 497,
 504,
 508,
 511,
 513,
 514,
 515,
 518,
 525,
 526,
 527,
 528,
 540,
 542,
 544,
 546,
 549,
 550,
 554,
 557,
 558,
 559,
 562,
 566,
 568,
 569,
 570,
 572,
 575,
 576,
 578,
 582,
 587,
 588,
 591,
 596,
 597,
 603,
 616,
 623,
 631,
 632,
 633,
 636,
 637,
 640,
 642,
 647,
 651,
 654,
 655,
 657,
 658,
 660,
 661,
 662,
 665,
 672,
 674,
 679,
 684,
 685,
 686,
 692,
 695,
 696,
 705,
 708,
 709,
 710,
 713,
 715,
 719,
 720,
 721,
 730,
 732,
 735,
 737,
 739,
 742,
 744,
 746,
 750,
 751,
 752,
 760,
 762,
 763,
 765,
 768,
 770,
 774,
 780,
 789,
 798,
 800,
 801,
 802,
 808,
 809,
 810,
 820,
 824,
 825,
 827,
 831,
 833,
 836,
 840,
 841,
 845,
 847,
 849,
 865,
 872,
 879,
 880,
 887,
 895,
 928,
 930,
 931,
 940,
 942,
 943,
 948,
 952,
 966,
 969,
 993,
 1004,
 1010,
 1011,
 1012,
 1016,
 1017,
 1018,
 1027,
 1028,
 1035,
 1039,
 1042,
 1045,
 1046,
 1059,
 1067,
 1073,
 1074,
 1078,
 1090,
 1098,
 1101,
 1112,
 1119,
 1134,
 1183,
 1185,
 1194,
 1208,
 1210,
 1214,
 1217,
 1218,
 1220,
 1221,
 1222,
 1231,
 1240,
 1248,
 1249,
 1250,
 1267,
 1284,
 1303,
 1314,
 1351,
 1406,
 1407,
 1423,
 1437,
 1471,
 1522,
 1622,
 1672,
 1681]

In [35]:
# cross checking
sorted(input_user_watched_movieid)

[7,
 11,
 22,
 24,
 27,
 50,
 55,
 56,
 62,
 68,
 79,
 82,
 89,
 92,
 96,
 117,
 118,
 121,
 127,
 147,
 161,
 172,
 174,
 176,
 183,
 195,
 210,
 222,
 226,
 230,
 231,
 233,
 265,
 273,
 288,
 363,
 385,
 403,
 405,
 472,
 540,
 546,
 550,
 566,
 568,
 578,
 597,
 665,
 685,
 825,
 827,
 831,
 833,
 841,
 930,
 948,
 1027]

In [36]:
#checking the common movie list

list(set(unique_movieid_similar_user)&set(input_user_watched_movieid))

[385,
 1027,
 7,
 265,
 11,
 273,
 403,
 147,
 405,
 22,
 24,
 665,
 27,
 540,
 288,
 161,
 546,
 930,
 550,
 172,
 685,
 174,
 176,
 50,
 948,
 566,
 55,
 56,
 183,
 825,
 827,
 568,
 62,
 831,
 833,
 578,
 195,
 68,
 841,
 79,
 82,
 210,
 597,
 472,
 89,
 92,
 222,
 96,
 226,
 230,
 231,
 233,
 363,
 117,
 118,
 121,
 127]

In [37]:
user_pred=pd.DataFrame(user_prediction)

NameError: name 'user_prediction' is not defined

In [ ]:
user_pred_Trans=user_pred.T

In [ ]:
user_pred_Trans

In [ ]:
user_pred_Trans[37]

In [ ]:
gg=user_pred_Trans[37]

In [ ]:
g=pd.DataFrame(gg)

In [ ]:
g

In [ ]:
s=g.T

In [ ]:
s

In [ ]:
s[187].values>=0.4

In [ ]:
#From recommended list seperate the highest rated film liked by the user based on user prediction

highest_rated= []
input_user_pre = pd.Dataframe(user_pred_Trans[input_user])
input_user_pred=input_user_pre.T

for re in recom:
    value = input_user_pred[re].values
    if (value>=1):
        highest_rated.append(re)

In [ ]:
len(highest_rated)

In [ ]:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
          'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols, encoding='latin-1')

In [38]:
#Creating movie list based on recommended movie id

movie_title = []

for movieid in highest_rated:
    movie = items[items['movie id']==movieid]['movie title'].values
    movie_title.append(movie)

NameError: name 'highest_rated' is not defined

In [ ]:
movie_title

In [ ]:
#converting into pure list

movie_title_list= []

for m in movie_title:
    print(m)
    mv=list(m)
    movie_title_list.append(mv)

In [ ]:
#converting into the whole list

import itertools

Final_recommend_movie = list(itertools.chain.from_iterable(movie_title_list))

In [ ]:
Final_recommend_movie

In [ ]:
#checking the common movie list

list(set(recom)&set(input_user_watched_movieid))

In [ ]:
def userbased(input_user,user_similarity,user_predictions,similar_user_count,thres):
    #Convert the user_sim table into DataFrame
    user_sim_table=pd.DataFrame(user_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(similar_user_count).index
    #Convert in to list
    similar_user_list=list(similar_input_user) 
    #Using similar_user_input,can select movie id from ratings table
    similar_user_movieid_list=[]
    for sim_user in similar_user_list:
        sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
        similar_user_movieid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
    #Unique movieid from the list
    Unique_movieid_similar_user=set(similar_user_movieid_single_list)
    #Input user watched movie_list
    input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_movieid_similar_user:
        if(per_id in input_user_watched_movieid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_rated=[]
    user_pred=pd.DataFrame(user_prediction)
    user_pred_Trans=user_pred.T
    input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
    input_user_pred=input_user_pre.T
    for re in recom:
        value=input_user_pred[re].values
        if(value>=thres):
            highest_rated.append(re)
    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    #Creating Movie List based on recom movieid
    movie_title=[]
    for movieid in highest_rated:
        mov=items[items['movie id']==movieid]['movie title'].values
        movie_title.append(mov)
    #Converting into pure list
    movie_title_list=[]
    for m in movie_title:
        print(m)
        mv=list(m)
        movie_title_list.append(mv)
    #Converting into whole list
    import itertools
    Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))
    print("The common Movie in Recom & User:",list(set(recom)&set(input_user_watched_movieid)))
    return Final_Recommend_movie

In [ ]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_movie=userbased(67,user_similarity,user_pred,5,1.5)

In [ ]:
len(Recommended_movie)